.header-text {
  color: #32c36c !important;
}
.header-text-description {
  color: #9b9b9b !important;
}
.header-text-description {
  text-align: justify !important;
}
.biu {
  font-size: 130px;
  margin: 2%;
}

.icon-contianer-bg {
  background: #32c36c;
  color: #fff;
  padding: 10px;
}

.our-color {
  color: #253745 !important;
}
