.project-background {
  background: #32c36c;
}

.text-color {
  color: #fff;
}

.card {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1pxsolidrgba (0, 0, 0, 0.125);
  border-radius: 0.25rem;
  margin: 1%;
}

.commercial-bg {
  background: #1a2a36;
}
